body {
  background-color: black;
  color: grey;
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff !important;
  text-decoration: none;
}
.pageBody {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.container {
  padding: 0 60px;
  margin: 0 auto;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  opacity: 0.7;
}
.menu-item{
  padding: 30px;
}

.navbar{
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color:teal;
  color: #ffffff !important;
}
